  <div class="chart-button-container">

      <button type="button" class="chart-button" name="button" id="birth">Year of Birth</button>
      <button type="button" class="chart-button"name="button" id="hire">Hire Date</button>
      <button type="button" class="chart-button"name="button" id="city">City</button>
      <button type="button" class="chart-button"name="button" id="state">State</button>
      <button type="button" class="chart-button" name="button" id="dept">Department</button>

  </div>



  <%# birth_arrays = @robot_stats.generate_chart_arrays_age %>
  <%# gon.birth_arrays = birth_arrays %>

  <%# hire_arrays = @robot_stats.generate_chart_arrays(@robot_stats.count_by_hire_date, :substring) %>
  <%# gon.hire_arrays = hire_arrays %>

  <%# city_arrays = @robot_stats.generate_chart_arrays(@robot_stats.count_by_city, :city) %>
  <%# gon.city_arrays = city_arrays %>

  <%# state_arrays = @robot_stats.generate_chart_arrays(@robot_stats.count_by_state, :state) %>
  <%# gon.state_arrays = state_arrays %>

  <%# dept_arrays = @robot_stats.generate_chart_arrays(@robot_stats.count_by_department, :department) %>
  <%# gon.dept_arrays = dept_arrays %>

  <div id="chartDiv">
    <canvas id="chart" width="600" height="400"></canvas>
  </div>


<script>
$(document).ready(function(){
  function generateBarChart() {
    var options = {
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    beginAtZero: true
                },
            }]
        }
    };
    var data = {
        labels: ["one", "two", "three", "four"],
        datasets: [
            {
                label: "test",
                backgroundColor: "rgba(255,99,132,0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderWidth: 1,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
                data: <%= [@analytics["All"][:items],
                          @analytics["All"][:customers],
                          @analytics["All"][:invoices],
                          @analytics["All"][:average_price]] %>,
            }
        ]
    };

    var element = document.getElementById('chart').getContext('2d');

    new Chart(element, {
    type: 'bar',
    data: data,
    options: options,
    });
  }

  function generatePieChart() {
    var data = {
        labels: ["one", "two", "three", "four"],
        datasets: [
            {
                data: <%= [@analytics["All"][:items],
                          @analytics["All"][:customers],
                          @analytics["All"][:invoices],
                          @analytics["All"][:average_price]] %>,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var element = document.getElementById('chart').getContext('2d');

    new Chart(element,{
        type: 'doughnut',
        data:  <%= [@analytics["All"][:items],
                  @analytics["All"][:customers],
                  @analytics["All"][:invoices],
                  @analytics["All"][:average_price]] %>,

    });
  }

  function clearChart() {
    $('#chart').remove();
    $('#chartDiv').append('<canvas id="chart" width="300" height="200"></canvas>');
  }

  $('#birth').on('click', function (e) {
    clearChart()
    generateBarChart();
  });
  $('#hire').on('click', function (e) {
    clearChart()
    generateBarChart();
  });
  $('#city').on('click', function (e) {
    clearChart()
    generateBarChart();
  });
  $('#state').on('click', function (e) {
    clearChart()
    generateBarChart();
  });
  $('#dept').on('click', function (e) {
    clearChart()
    generatePieChart();
  });

});

</script>
<script type="text/javascript" src='dashboard_chart.js'></script>
