<div class="chart-button-container">

    <button type="button" class="chart-button" name="button" id="donations">Donations</button>
    <button type="button" class="chart-button"name="button" id="recipients">Recipients</button>
    <button type="button" class="chart-button"name="button" id="needs">Needs</button>
    <button type="button" class="chart-button"name="button" id="users">Users</button>

</div>

<div id="chartDiv">
  <canvas id="chart" width="600" height="400"></canvas>
</div>

<script>
$(document).ready(function(){

  function generateBarChart() {
    var options = {
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    beginAtZero: true
                },
            }]
        }
    };
    var data = {
        labels: <%=raw @analytics_ids[0]%>,
        datasets: [
            {
                label: "test",
                backgroundColor: "rgba(255,99,132,0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderWidth: 1,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
                data: <%= @analytics_ids[1] %>,
            }
        ]
    };

    var element = document.getElementById('chart').getContext('2d');

    new Chart(element, {
    type: 'bar',
    data: data,
    options: options,
    });
  }

  function generatePieChart() {
    var data = {
        labels: <%=raw @analytics_ids[0]%>,
        datasets: [
            {
                data: <%= @analytics_ids[1] %>,
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };
    var element = document.getElementById('chart').getContext('2d');

    new Chart(element,{
        type: 'doughnut',
        data:  data ,

    });
  }

  function clearChart() {
    $('#chart').remove();
    $('#chartDiv').append('<canvas id="chart" width="300" height="200"></canvas>');
  }

  $('#donations').on('click', function (e) {
    clearChart()
    generateBarChart();
  });
  $('#recipients').on('click', function (e) {
    clearChart()
    generateBarChart();
  });
  $('#needs').on('click', function (e) {
    clearChart()
    generateBarChart();
  });
  $('#users').on('click', function (e) {
    clearChart()
    generatePieChart();
  });
});

</script>
