<h4>Recipients Needing Donations:</h4>
<table class="table table-hover">

  <% @recipients.uniq.each do |recipient| %>
  <tr>

    <td><span class="pop">
      <%= link_to recipient.name, charity_recipient_path(recipient.charity.slug, recipient), class: 'recipient-link' %>
    </span><p>Description: <%= recipient.description %><p>
    </td>

  </tr>
  <% end %>
</table>
