<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Create a New Recipient</h2>
      </div>
      <div class="panel-body">
        <%= form_for [:admin, :charity, @recipient] do |f| %>
        <%= render partial: "/shared/recipient_form", locals: {f: f} %>
       <%= f.submit "Create Recipient", class: "btn view-user"  %>
       <% end %>
      </div>
    </div>
  </div>
</div>
