<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.username%>!</h1>
    <p>Thanks for joining GiveHub, we hope you have a great day!</p>
  </body>
    <p>Sincerely,</br>
      The Give Hub Team
    </p>
</html>
