/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

 @font-face {
  font-family: 'Moriston Personal Black';
  src: url('/assets/fonts/MoristonPersonal-Black.otf');
  src: url('/assets/fonts/MoristonPersonal-Black.eot?iefix') format('eot'),
  url('/assets/fonts/MoristonPersonal-Black.woff') format('woff'),
  url('/assets/fonts/MoristonPersonal-Black.woff2') format('woff2'),
  url('/assets/fonts/MoristonPersonal-Black.ttf') format('truetype'),
  url('/assets/fonts/MoristonPersonal-Black.svg#webfont3AwWkQXK') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans';
  padding-top: 70px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
 .feature-box {
   position: relative;
   overflow: hidden;
   width:100%;
   margin-top: -20px;
 }

 .brand-name-landing-page {
  font-family: 'Moriston Personal Black', sans-serif;;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 30px;
 }

 .brand-name-landing-page:hover {
  font-family: 'Moriston Personal Black', sans-serif;;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-top: 15px;
 }

 .brand-name-all {
  font-family: 'Moriston Personal Black', sans-serif;;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 30px;
 }

 .brand-name-all:hover {
  font-family: 'Moriston Personal Black', sans-serif;;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 30px;
 }

 .feature-banner {
   float: left;
   min-height: 100px;
   width: 100%;
   color: white;
   padding-left: 80px;
   padding-top: 12px;
 }

 .add-charity {
   position: absolute;
   width: 100%;
   text-align: center;
   top: 60px;
   z-index:99;
 }

  .add-charity-button {
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
         border-radius: 8px;
     background: none;
     border: 2px solid white;
   }

  .add-charity-button:hover {
     padding: 10px 10px;
     font-size: 16px;
     color: black;
     line-height: normal;
     -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
             border-radius: 8px;
       background: white;
       opacity: 0.6;
       border: 2px solid white;
     }

.feature-banner.CHARITY {
   background-color: #294541;
 }

 .feature-banner.CAUSE {
   background-color: #37186B;

 }

 .feature-banner.NEED {
   background-color: #FF692D;
 }

 .feature-left {
   float: left;
   width: 50%;
   background-color: #00C9A7;
   min-height: 200px;
   padding-bottom: 500em;
   min-width: 200px;
   margin-bottom: -500em
 }

 .feature-left.CHARITY {
   background-color: #00C9A7;
 }

 .feature-left.CAUSE {
   background-color: #5C3E8D;
 }

 .feature-left.NEED {
   background-color: #FFAE41;
 }

.feature-img {
  float: right;
}

.feature-right {
  float: left;
  width: 50%;
  min-height: 300px;
  background-color: #00C9A7;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.feature-right.CHARITY {
  background-color: #00C9A7;
}

.feature-right.CAUSE {
  background-color: #5C3E8D;

}
.feature-right.NEED {
  background-color: #FFAE41;
}

.feature-text {
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 50px;
  color: white;
}

.feature-text h1 {
  font-weight: bolder;
}

.feature-text p {
  font-size: 125%;
}

.recipient-box {
  position: relative;
  overflow: hidden;
  width:100%;
  margin-left: 170px;
  margin-top: 50px;
}

.recipient-box :hover {
  background-color: #f2f2f2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.recipient-feature {
  width: 15%;
  float:left;
  border-radius: 4px;
  border-color: #294541;
  border-width: 2px;
  border-style: solid;
  margin-left: 35px;
  min-height: 300px;
}

.recipient-img img{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.recipient-text{
  padding-left: 10px;
  padding-right: 10px;
}

.donate-button {
    background-color: white;
    color: black;
    border: 2px solid #294541;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    margin-left: 65px;
}

.home-cause-button {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    background: none;
    border: 2px solid white;
    position: relative;
    text-align: center;
    margin-top: 100;
}

.home-cause-button:hover {
    background-color: white;
    opacity: 0.6;
    position: relative;
    text-align: center;
    border: 2px solid white;
    color: black;
    margin-top: 150;
}

.lists {
  margin-top: 50px;
}
.donation-text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.donation-text h2 {
  text-transform: uppercase;
}

.details h4 {
  text-align: center;
}

.jumbotron {
  color: #FFFFFF;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.thumbnails {
  text-align: center;
  float: none;
}

.thumbnails > h3  {
  display: inline-block;
}

.navbar {
    padding-bottom: 0px !important;
}

.navbar-custom {
  border-width: 0px;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
    display: none;
}

 .navbar-custom .dropdown-toggle {
  color: black;
}

.nav.navbar-custom.navbar-right li a {
    color: black;
}

.navbar-transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    width: 100%;
    box-shadow: 0px 0px;
    color: transparent;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.navbar-custom {
  color: black;
}

.navbar-nav > li {
  font-size: 16px;
  padding-left: 50px;
  }
.dropdown-menu {
  font-size: 16px;
  }

.dropdown-menu>li>a:hover {
   background-color: silver !important;
 }

.navbar-transparent a {
  color:white;
}

.navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus {
    background-color: white;
    opacity: 0.6;
    color: black;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

.navbar-transparent .navbar-nav > .dropdown > a .caret {
    display: none;
}

.home-photo {
  margin-left: -20px;
  margin-right: -20px;
}

/* Carousel base class */


.dropdown-toggle {
  overflow:hidden;
}

#user_role_charity_id {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

#user_role_role_id{
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.charity-dropdown {
  padding-top: 10px;
}

.manage-charities-button {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
}

.admin-dashboard {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #582955!important;
}

.charity-dashboard {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #686868 !important;
  color: white !important;
}

.my-donations {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #168DC8 !important;
  color: white !important;
}
.update-profile {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #F0AD4E !important;
  color: white !important;
}

.manage-needs {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #7887AB !important;
  color: white !important;
}

.manage-recipients {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #4F628E !important;
  color: white !important;
}

.manage-donations {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #2F4372 !important;
  color: white !important;
}

.update-charity {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #2E4272 !important;
  color: white !important;
}

.deactivate {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #162955 !important;
  color: white !important;
}

.add-need {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #C36279 !important;
  color: white !important;
}

.view-details {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #EA9CAE  !important;
  color: white !important;
}

.update-need {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #75142A !important;
  color: white !important;
}

.deactivate-need {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #4E0012 !important;
  color: white !important;
}

.activate-charity {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #3E4951 !important;
  color: white !important;
}

.add-recipient {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #D4A56A !important;
  color: white !important;
}

.recipient-details {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #805015 !important;
  color: white !important;
}

.recipient-update {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #552F00 !important;
  color: white !important;
}

.all-recipients {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #AA7739 !important;
  color: white !important;
}
.all-users {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #AA7739 !important;
  color: white !important;
}

.delete-role {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #478E75 !important;
  color: white !important;
  }


.view-user {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #0E553C  !important;
  color: white !important;
}

.add-cause{
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #343477 !important;
  color: white !important;
}
.view-analytics {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #87CEFA !important;
  color: white !important;
}

.donation-amount{
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #87CEFA !important;
  color: white !important;
}
.donation-date {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #AE0202 !important;
  color: white !important;
}
.need-item-total {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #FF6600 !important;
  color: white !important;
}

.need-total {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #50BD48 !important;
  color: white !important;
}
.add-role {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #003925 !important;
  color: white !important;
}

.suspend {
  border-radius: 0px !important;
  font-weight: 300 !important;
  border: 3px !important;
  background-color: #565695 !important;
  color: white !important;
}

body {
  font-family: "Open Sans" !important;
  z-index: 1000;
}

.btn.round {
	border-radius: 20px;
  text-transform: uppercase;
  background: none;
	padding: 10px 10px;
  color: #00C9A7;
  border: 2px solid #00C9A7;
}

.current-needs{
  margin-top: 40px;
}

.pop {
  font-weight:600;
  font-size: 125%;
}
.recipient-link {
  color: gray;
}
.recipient-link:hover {
  text-decoration: none;
  color: black;
}

.carousel {
  height:100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.carousel-caption {
   position: absolute;
   top:400px
}

.carousel .item {
  height: 100%;
  width: 100%;
}

.fill {
    width: 100%;
    height: auto;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.company-logo {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

.main-text {
    position: absolute;
    bottom: 50px;
    width: 100%;
    color: white;
}

.image {
  width: 100%;

}
.carousel-inner > .item > img {
  text-align: center;
  margin: 0 auto;
  -webkit-filter: brightness(50%); /* Chrome, Safari, Opera */
  filter: brightness(50%);

}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-height: 100%;
    line-height: 1;
    width: 100%;
    filter: brightness(90%);

}

.dropdown-menu {
  padding:5px !important;
  border-bottom:0px solid white !important;
  background-color: #465258 !important;
  color: !important;
  opacity: 0.9
}

.dropdown-menu :hover {
  color: black !important;
  font-style: bold !important;
}

.not-home {
  opacity: 1
}

.list{
  color: white !important
}
