/* header */

#logo {
  font-size: 250px;
  font-family: 'Moriston Personal Black', sans-serif;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
