/* header */
@font-face {
  font-family: "MoristonPersonal-Black";
  src: font-url( asset-path("MoristonPersonal-Black.eot") );
  src: font-url( asset-path("MoristonPersonal-Black.eot?iefix") ) format('eot'),
  font-url( asset-path("MoristonPersonal-Black.woff") ) format('woff'),
  font-url( asset-path("MoristonPersonal-Black.woff2") ) format('woff2'),
  font-url( asset-path("MoristonPersonal-Black.ttf") ) format('truetype'),
  font-url( asset-path("MoristonPersonal-Black.svg#webfont" )) format('svg');
  font-weight: normal;
  font-style: normal;
}

#logo {
  font-size: 230px;
  font-family: 'MoristonPersonal-Black', sans-serif;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
